.nav {
  list-style-type: none;
  background: $nav-colour;
  font-size: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 5px;
}

.menubar-item {
  position: relative;
  color: $nav-text-colour;
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  font-family: $primary-font;
  &:hover {
    color: $nav-text-colour-hover;
    border-bottom: 5px solid $nav-text-colour-hover;
  }
  &.active {
    color: $nav-text-colour-selected;
    border-bottom: 5px solid $nav-text-colour-selected;
  }

}
