.nav {
  list-style-type: none;
  background: blue;
  font-size: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0 0;
  > li {
    display: inline-block;
    position: relative;
  }
}

.menubar-item {
  color: black;
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  &:hover {
    color: red;
  }
}

.menubar-item.active {
  color: green;
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  &:hover {
    color: orange;
  }
}
