// colors


$nav-colour: #0D2B36;
$nav-text-colour: #78D0F0;
$nav-text-colour-selected: #CBE9F2;
$nav-text-colour-hover: #F09878;

// fonts

$primary-font: 'PT Sans', sans-serif;

// tabbed buttons

$tabs-btn-number: 6;      // number of tab navigation links

$tabs-btn-height-S: 60px;   // tab buttons height on small devices
$tabs-btn-width-S: 60px;  // tab button width on small devices

$tabs-btn-height-M: 80px;   // tab buttons height on medium devices
$tabs-btn-width-M: 80px;  // tab button width on medium devices

$tabs-btn-height-L: 60px;   // tab buttons height on large devices
$tabs-btn-width-L: auto;  // tab button width on large devices
